.note {
  border-radius: var(--radius);
  box-shadow: 0 0 2px var(--overlay);
  padding: var(--size-sm);
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.note p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: var(--size-sm);
  color: var(--gray-400);
  height: 3.6rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
