.container {
  margin-top: var(--size-lg);
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.empty {
  font-size: var(--size-sm);
  color: var(--gray-400);
  text-align: center;
}
