@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;

  --white: #ffffff;
  --black: #000000;
  --red-100: #ef4444;
  --red-200: #b91c1c;
  --blue-100: #3b82f6;
  --blue-200: #1d4ed8;
  --gray-100: #d1d5db;
  --gray-200: #9ca3af;
  --gray-300: #6b7280;
  --gray-400: #4b5563;
  --gray-500: #374151;
  --overlay: rgba(0, 0, 0, 0.25);

  --size-xs: 0.8rem;
  --size-sm: 1.2rem;
  --size-md: 1.6rem;
  --size-lg: 1.8rem;
  --size-xl: 2.6rem;

  --radius: 0.4rem;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
